.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .2s opacity ease-in-out;
  width: 100%;
}

.wrapper__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  transition: .2s ease-in-out;
}

.wrapper__input:not(:last-child) {
  margin-bottom: 16px;
}

.wrapper__input input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #edf8ff;
  border-radius: 8px;
  text-align: center;
  color: #000000;
  font-size: 24px;
}

.wrapper__input input:focus {
  border: 1px solid #00aeef;
  outline: none;
}

input[type="number"]:invalid+span:after {
	content: '✖';
	padding-left: 5px;
	color: red;
}

input[type="number"]:valid+span:after {
	content: '✓';
	padding-left: 5px;
	color: green;
}